body,
        * {
            padding: 0;
            margin: 0;
            font-family: 'Lilita One', cursive;
            font-family: 'Zen Maru Gothic', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(255, 255, 255);
            text-align: center;

        }

        nav ul {
            display: flex;
            justify-content: center;

        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: #000000;
            padding: 5px 14px;
            font-weight: bold;

        }

      
        
        nav ul li a:hover {
            background-color: rgba(43, 40, 40, 0.664);
            color: rgb(255, 255, 255);
            padding: 5px 14px;
            border-radius: 10px;
            transition:  0.4s ease-in-out;
        }

        .left {
            font-size: 1.2rem;
        }